*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gabarito';
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.navbar__s2{
    display: flex;
    gap: 20px;
    position: relative;
    right: 100px;
}
.navbar__s3{
    display: flex;
    gap: 20px;
    position: relative;
    right: 100px;
    align-items: center;
}
.navbar__s3 p{
    background-color: black;
    border-radius: 30px;
    color: white;
    padding: 10px;
}
.center-container{
  text-align: center;
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
.center-container__one{
    text-align: center;
    gap: 20px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.search-bar {
    padding: 10px;
    width: 40%;
    border: solid black 1px;
    border-radius: 50px;
    font-size: 16px;
    gap: 20px;
    display: flex;
}
.search-bar input{
    border:none;
    display:inline;
    justify-content:right;
}
.sale-image{
    position: absolute;
    left: 310px;
}
.sale-image__one{
    display: flex;
    flex-direction: row;
    justify-content:center;
    height: auto;
    align-items: center;
    position: relative;
    
}
.sale-image__offer{
    background-color: transparent;
    color: white;
    padding: 2%;
    position: relative;
    border: transparent;
    left:15px;
    bottom: 110px;
    width: fit-content;
}
.sale-image__offer button{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 5px;
    border: none;
}